.header {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px auto;
}

.logo {
    width: 200px;
}

.header .links {
    display: flex;
    gap: 30px;
    list-style-type: none;
    letter-spacing: 2px;
}

.header .links .link {
    color: inherit;
    font-weight: 400;
    cursor: pointer;
}

.links .link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}