.header {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px auto;
}

.logo {
    width: 200px;
}

.hamburger {
    display: none;
}

.header .links {
    display: flex;
    gap: 30px;
    list-style-type: none;
    letter-spacing: 2px;
}

.header .links .link {
    color: inherit;
    font-weight: 400;
    cursor: pointer;
}

.links .link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}


/* ***************** */
/* media query */
@media screen and (min-width:0px) and (max-width:800px) {
    .main-header {
        width: 100%;
        margin: 0;
        padding: 40px 0px;
    }

    .main-header .logo {
        padding-left: 25px;
    }

    .main-header nav {
        width: 100%;
        background-color: var(--black);
        position: absolute;
        top: 113px;
        /* padding: ; */
    }

    .main-header .hamburger {
        display: flex;
        padding-right: 25px;
    }

    .main-header .links {
        flex-direction: column;
        gap: 20px;
        padding: 30px 40px;
    }

    .main-header .links .link {
        color: var(--white);
        font-size: 1.5rem;
    }
}