.countries {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0px auto 150px auto;
}

.country {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.country-info {
    flex: 1;
    background-color: #fdf4f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border-radius: 20px;
    padding: 0px 100px;
}

.name {
    color: var(--peach);
    font-size: 2.5rem;

}

.info {
    display: flex;
    gap: 100px;
}

.info ul li:nth-child(1) {
    font-weight: 600;
}

/* Image */
.country-map {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

/* *************** */
/* media query */
@media screen and (min-width:0px) and (max-width:800px) {
    .countries {
        width: 100%;
    }

    .country {
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }

    .country-info {
        text-align: center;
        border-radius: 0px;
        gap: 35px;
        padding: 50px 0px;
    }

    .info {
        flex-direction: column;
        gap: 20px;
    }

    /* Image */
    .country-map {
        border-radius: 0px;
        order: -1;
    }

    .country-map img {
        width: 100%;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .countries {
        width: 100%;
        max-width: 700px;
        gap: 100px;
    }

    .country {
        width: 100%;
        flex-direction: column;
        gap: 25px;
    }

    .country-info {
        min-height: 300px;
        padding: 0px 0px 0px 75px;
    }

    /* Image */
    .country-map {
        height: 300px;
        border-radius: 20px;
        order: -1;
    }

    .country-map img {
        width: 100%;
    }
}