@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --peach: hsl(11, 73%, 66%);
  --light-peach: hsl(11, 100%, 80%);
  --black: hsl(270, 3%, 11%);
  --dark-gray: hsl(264, 5%, 20%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(210, 17%, 95%);
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Jost', sans-serif;
}



/* shared styles */
.link {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

button {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 2px;
  transition: .25s;
  padding: 20px 30px;
}

button:hover {
  background-color: var(--light-peach);
  color: var(--white);
}

ul {
  list-style: none;
}