.contact-us {
    width: 85%;
    background-color: var(--peach);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px auto 150px auto;
    padding: 25px 0px;
}

.contact-txt {
    flex: .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0px 75px;
}

.contact-txt h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

.contact-txt p {
    line-height: 28px;
    font-size: 1.1rem;
    max-width: 700px;
}

/* form */
.contact-form {
    flex: .5;
    display: flex;
    flex-direction: column;
    padding: 25px 75px 25px 0px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: transparent;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    font-family: inherit;
    font-size: 1.1rem;
    resize: vertical;
    outline: none;
    padding: 0px 0px 10px 0px;
    margin-bottom: 40px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-bottom: 4px solid var(--white);
}

.contact-form textarea {
    height: 100px;
    margin-bottom: 25px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--white);
    font-weight: 600;
    opacity: .4;
}

.submit-btn {
    align-self: flex-end;
    padding: 20px 40px;
}

/* *************** */
/* media query */
@media screen and (min-width:0px) and (max-width:600px) {
    .contact-us {
        width: 100%;
        flex-direction: column;
        gap: 75px;
        border-radius: 0px;
        padding: 50px 0px;
    }

    .contact-txt {
        padding: 0px;
    }

    .contact-txt h1 {
        text-align: center;
    }

    .contact-txt p {
        width: 95%;
        text-align: center;
        line-height: 25px;
        margin: 0px auto;
    }

    /* Form */
    .contact-form {
        width: 95%;
        padding: 0px 10px;
    }
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .contact-us {
        width: 95%;
        max-width: 700px;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0px;
        margin: 25px auto 150px auto;
    }

    .contact-txt h1,
    .contact-txt p {
        max-width: 600px;
        text-align: center;
    }

    /* form */
    .contact-form {
        width: 75%;
        flex: .5;
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
    }
}