.about-us {
    width: 85%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px auto 150px auto;
}

.about-us .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: var(--peach);
    color: var(--white);
    padding: 0px 100px;
}

.about-us h1 {
    font-size: 3rem;
    font-weight: 500;
}

.about-us p {
    line-height: 25px;
}

.about-img {
    display: flex;
}

.about-img img {
    height: 100%;
}