.deal {
    width: 85%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px auto 150px auto;
}


.deal-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: #fdf4f2;
    padding: 0px 100px;
}

.deal h1 {
    color: var(--peach);
    font-size: 3rem;
    font-weight: 500;
}

.deal p {
    line-height: 28px;
}

.deal-img {
    display: flex;
}

/* *************** */
/* media query */
@media screen and (min-width:0px) and (max-width:800px) {
    .deal {
        width: 100%;
        flex-direction: column;
        border-radius: 0px;
    }

    .deal-txt {
        align-items: center;
        gap: 25px;
        padding: 100px 0px;
    }

    .deal-txt h1 {
        text-align: center;
    }

    .deal-txt p {
        max-width: 400px;
        text-align: center;
    }

    .deal-img {
        order: -1;
    }

    .deal-img img {
        width: 100%;
    }
}